<body>
  <div>
    ジャンル一覧
  </div>
  <%= link_to "一覧へ", movies_path %>
  <table class="table">
    <tbody>
      <% @movies.each do |movie| %>
      <tr>
        <%= link_to movie.title, movie_path(movie) %>
      </tr>
      <tr><%= movie.body %></tr>
      <% end %>
    </tbody>
  </table>
</body>